/* Limit the container width */
.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding to align with the max-width */
  }
  
  /* Reduced padding for height */
  .appstore-container {
    padding: 10px 0;
  }
  
  /* Increase the animation size */
  .animation-size {
    max-width: 100%; /* Full width within the container */
    height: auto; /* Keep proportions */
    transform: scale(1.1); /* Scale up slightly */
  }
  